body {
  background: #080e24;
  color: #626668;
  padding: 0;
  margin: 0;
}

/* Solar System Styles */

ul.solarsystem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 640px;
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all 0.09s ease-in;
  -moz-transition: all 0.09s ease-in;
  -o-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
  overflow: hidden;
}

ul.solarsystem li {
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: 2px solid #394057;
}

ul.solarsystem li span {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

ul.solarsystem li.sun {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fc3;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, rgb(204, 153, 0)), color-stop(1, rgb(255, 219, 112)));
  background-image: -moz-linear-gradient(center bottom, rgb(204, 153, 0) 22%, rgb(255, 219, 112) 100%);
  top: 302px;
  left: 282px;
  border: none;
  box-shadow: 0 0 50px #c90;
  z-index: 100;
  transition: all 0.2s ease-in;
}

ul.solarsystem li.sun span {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

ul.solarsystem li.mercury {
  width: 100px;
  height: 100px;
  border-radius: 52px;
  top: 270px;
  left: 250px;
  z-index: 99;
}

ul.solarsystem li.mercury span {
  background: #b6bac5;
  top: 45px;
  left: 96px;
}

ul.solarsystem li.venus {
  width: 160px;
  height: 160px;
  border-radius: 82px;
  top: 240px;
  left: 220px;
  z-index: 98;
}

ul.solarsystem li.venus span {
  background: #bf8639;
  top: 75px;
  left: 156px;
}

ul.solarsystem li.earth {
  width: 220px;
  height: 220px;
  border-radius: 112px;
  top: 210px;
  left: 190px;
  z-index: 97;
}

ul.solarsystem li.earth span {
  background: #06c;
  top: 105px;
  left: 216px;
}

ul.solarsystem li.mars {
  width: 280px;
  height: 280px;
  border-radius: 142px;
  top: 180px;
  left: 160px;
  z-index: 96;
}

ul.solarsystem li.mars span {
  background: #aa4200;
  top: 135px;
  left: 276px;
}

ul.solarsystem li.jupiter {
  width: 340px;
  height: 340px;
  border-radius: 172px;
  top: 150px;
  left: 130px;
  z-index: 95;
}

ul.solarsystem li.jupiter span {
  background: #e0ae6f;
  top: 165px;
  left: 336px;
}

ul.solarsystem li.saturn {
  width: 400px;
  height: 400px;
  border-radius: 202px;
  top: 120px;
  left: 100px;
  z-index: 94;
}

ul.solarsystem li.saturn span {
  background: #dfd3a9;
  top: 195px;
  left: 396px;
}

ul.solarsystem li.saturn span.ring {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: none;
  border: 2px solid #5a4e34;
  left: -3px;
  top: -3px;
  transform: skewY(50deg);
}

ul.solarsystem li.uranus {
  width: 460px;
  height: 460px;
  border-radius: 232px;
  top: 90px;
  left: 70px;
  z-index: 93;
}

ul.solarsystem li.uranus span {
  background: #82b3d1;
  top: 225px;
  left: 456px;
}

ul.solarsystem li.neptune {
  width: 520px;
  height: 520px;
  border-radius: 262px;
  top: 60px;
  left: 40px;
  z-index: 92;
}

ul.solarsystem li.neptune span {
  background: #77c2ec;
  top: 255px;
  left: 516px;
}

ul.solarsystem li.pluto {
  width: 580px;
  height: 580px;
  border-radius: 292px;
  top: 30px;
  left: 10px;
  z-index: 91;
}

ul.solarsystem li.pluto span {
  background: #7c6a5c;
  top: 285px;
  left: 576px;
}

ul.solarsystem li.base {
  width: 290px;
  top: 50%;
  left: 300px;
  z-index: 90;
}

.button {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-color: transparent transparent transparent #fff;
  cursor: pointer;

  border-style: solid;
  border-width: 10px 0 10px 15px;
  z-index: 9999;
}

/* CSS3 Animations */

.pause {
  animation-play-state: paused;
}

ul.solarsystem li {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
}

ul.solarsystem li.earth span {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: moon;

}

ul.solarsystem li.mercury {
  animation-duration: 2.5s;
}

ul.solarsystem li.venus {
  animation-duration: 4s;
}

ul.solarsystem li.earth {
  animation-duration: 6s;
}

ul.solarsystem li.mars {
  animation-duration: 10s;
}

ul.solarsystem li.jupiter {
  animation-duration: 15s;
}

ul.solarsystem li.saturn {
  animation-duration: 30s;
}

ul.solarsystem li.uranus {
  animation-duration: 45s;
}

ul.solarsystem li.neptune {
  animation-duration: 50s;
}

ul.solarsystem li.pluto {
  animation-duration: 60s;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes moon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}